// main script name
manifest.mainScript = 'gemma.nf'

// DSL1
nextflow.enable.dsl=1

// small input dataset for testing
params {
    pheno = "$baseDir/data/eg.phenotypes.txt"
    geno = "$baseDir/data/eg.genotypes.vcf.gz"
}

// Docker is disabled by default and uses the following options when activated
docker {
    sudo = false
    fixOwnership = true
    runOptions = '-u $(id -u)'
}

// Singularity is disabled by default and uses autoMounts when enabled
singularity {
    cacheDir = 'singularity'
    autoMounts = true
}

// Enable trace by default
trace.enabled = true

// Process configuration
process {
    // Container ID in GitHub container registry
    container = 'dgarrimar/manta-sim@sha256:b706d17c04abb196e33095243a3261e764306469945cbfa7b196b3aa8db50202'
}
